QWidget
{
    background-color: #6357B7;
    border-radius: 0px 0px 15px 15px;
}

QPushButton
{
    color: white;
    background-color: #6357B7;
    border-radius: 15px;
    font: 16pt "Bahnschrift";
}

QPushButton:disabled
{
    color: #6357B7;
    background-color: white;
    border-radius: 0px;
}
